.faq_block {
  .faq_block__title-container {
    display: flex;
    justify-content: center;
    h2 {
      color: $black;
    }
  }

  .faq_block__item {
    &[open] {
      border-bottom: none;
      .faq_block__question {
        color: $black;
        border-bottom: none;
        &::after {
          content: "—";
          transform: rotate(180deg);
          color: $black;
          font-size: 14px;
        }
      }
      .faq_block__answer {
        p {
          color: $black !important;
        }
        li {
          color: $black !important;
        }
      }
    }

    .faq_block__question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      &::-webkit-details-marker {
        display: none;
      }
      &:hover {
        background-color: rgba($black, 0.1);
        p {
          text-decoration: underline;
        }
      }
      p {
        font-weight: bold;
        font-size: 19px;
      }

      &::after {
        content: "+";
        color: $black;
        transition: transform 0.3s ease;
        margin-left: 1rem;
      }
      font-size: 20px;
      font-weight: 700;
      color: $black;
      padding: 20px 10px;
      border-bottom: 1px solid $black;
      cursor: pointer;
    }

    .faq_block__answer {
      color: $black;
      padding: 20px 10px;
      p {
        margin: 0;
        color: $black;
      }
    }
  }

  &.theme_2 {
    background-color: $color1;

    .faq_block__title-container {
      h2 {
        color: $white !important;
        margin-top: 0px;
      }
    }

    .faq_block__item {
      &[open] {
        .faq_block__question {
          color: $white;
          border-bottom: none;
          &::after {
            content: "—";
            transform: rotate(180deg);
            color: $white;
            font-size: 14px;
          }
        }
        .faq_block__answer {
          p {
            color: $white !important;
          }
        }
      }

      .faq_block__question {
        &:hover {
          background-color: rgba($white, 0.5);
          p {
            text-decoration: underline;
          }
        }
        p {
          font-weight: bold;
          font-size: 19px;
        }

        &::after {
          content: "+";
          color: $white;
          transition: transform 0.3s ease;
          margin-left: 1rem;
        }
        font-size: 20px;
        font-weight: 700;
        color: $white;
        padding: 20px 10px;
        border-bottom: 1px solid $white;
        cursor: pointer;
      }

      .faq_block__answer {
        color: $white;
        padding: 20px 10px;
        p {
          margin: 0;
          font-size: 18px;
          color: $white;
        }
      }
    }
  }
}
